.profile-sidebar-wrapper-layout {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.profile-meta-card-layout {
    border-radius: 12px;
    padding: 32px;
    width: 100%;
    min-height: auto;
}

.meta-list-layout {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    margin-top: 20px;
}

.meta-item-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 14px;
}
